{% extends "base.html" %}
{% block css %}{% endblock %}

{% block content %}
<h2>Login</h2>
<hr />
{% if form.errors %}
<div class="alert alert-warning">Your username and password didn't match. Please try again.</div>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<div class="alert alert-info">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</div>
{% else %}
{% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" class="form-signin">
    {% csrf_token %}
    <div class="row mb-2">
        <label class="cell-sm-2" label-for="id_username">Username</label>
        <div class="cell-sm-10">
            {{ form.username}}
        </div>
    </div>

    <div class="row mb-2">
        <label class="cell-sm-2" label-for="id_password">Password</label>
        <div class="cell-sm-10">
            {{ form.password}}
        </div>
    </div>
    <input type="hidden" name="next" value="{{ next }}">
    <button class="button bg-brandColor2 fg-white" type="submit">Sign in</button>
</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</body>
{% endblock %}

{% block js %}{% endblock %}