{% extends 'base.html' %}
{% load static %}

{% block title %}Employees{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<div class="row">
    <div class="cell-12">
        <h1>Employees</h1><a href="{# url 'pharmacy:new' #}">New</a>
        <hr />
    </div>
    <hr />
</div>
<div class="row">
    <div class="cell-12">
        {% if messages %}
        <ul class="custom-list-marker">
            {% for message in messages %}
            <li data-marker="✓" {% if message.tags %} class="{{ message.tags }} fg-green" {% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <div id="calendar" class="mt-1">
                <div class="row mb-2">
                        <div class="cell-md-8 my-search-wrapper"></div>
                        <div class="cell-md-4 my-rows-wrapper"></div>
                </div>
                <table class="table stripped row-hover" data-role="table" data-rownum="true" data-info-wrapper=".my-info-wrapper"
                    data-pagination-wrapper=".my-pagination-wrapper"
                    data-search-wrapper=".my-search-wrapper"
                    data-rows-wrapper=".my-rows-wrapper">
                <thead>
                    <th data-sortable="true">Name</th>
                    <th data-sortable="true">Date of birth</th>
                    <th data-sortable="true">Phone</th>
                    <th data-sortable="true">Email</th>
                    <th data-sortable="true">Department</th>
                    <th data-sortable="true">Role</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for employee in employees %}
                    <tr>
                        <td><a href="{% url 'employee:details' employee.pk %}">{{ employee.get_full_name }}</a></td>
                        <td>{{ employee.date_of_birth|date:"d.m.Y" }}</td>
                        <td>{{ employee.phone }}</td>
                        <td><a href="mailto:{{ employee.email }}">{{ employee.email }}</a></td>
                        <td>{{ employee.get_department_display }}</td>
                        <td>{{ employee.get_role_display }}</td>
                        <td>
                            <form action="{# url 'pharmacy:delete' employee.pk #}" method="post">{% csrf_token %}
                                <button type="submit" class="button small bg-white cycle" value="Confirm">
                                    <span class="mif-bin bg-white fg-red"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}



{% block js %}{% endblock %}